<p>
    <strong>
    <%= link_to park.name, park_path(park), class: "text-decoration-none" %>
    </strong>
  </p>
  <%= image_tag park.image, width: "200", height: "150", class: "park-image rounded" %>
