<h1>MyBookings#index</h1>

<% @bookings.each do |booking| %>
  <p>
    <%= booking.timeslot.park.name %>
   <%= booking.timeslot.start_time.strftime("%H:%M") %> ~ <%= booking.timeslot.end_time.strftime("%H:%M") %>
  </p>

<%= button_to "Delete", booking_path(booking),
          method: :delete,
          data: { turbo_confirm: "Are you sure?" },
          class: "btn btn-danger floating-button2" %>
<% end %>
