
<footer class="mt-5">
  <div class="social-links d-flex justify-content-center mb-5">
    <a
      href="https://www.linkedin.com//"
      target="_"
      title="Instagram Profile"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>

    <a
      href="https://github.com/Yutam38/Pocket__Park"
      target="_"
      title="GitHub Profile"
    >
      <i class="fa-brands fa-github"></i>
    </a>

    <a
      href="https://www.facebook.com/"
      target="_"
      title="Facebook Profile"
      ><i class="fa-brands fa-facebook"></i>
    </a>
  </div>

<p class="text-center mt-5 footer">
  This project was coded by The best team ever existed, it is
    <a href="https://github.com/Yutam38/Pocket__Park" target="_"
      >open-sourced</a>
</p>

</footer>
