
<footer class="mt-5">
  <div class="social-links d-flex justify-content-center">
    <a
      href="https://www.linkedin.com/"
      target="_blank"
      title="LinkedIn Profile"
      aria-label="LinkedIn Profile">
      <i class="fa-brands fa-linkedin"></i>
    </a>

    <a
      href="https://github.com/Yutam38/Pocket__Park"
      target="_blank"
      title="GitHub Profile"
      aria-label="GitHub Profile">
      <i class="fa-brands fa-github"></i>
    </a>

    <a
      href="https://www.facebook.com/"
      target="_blank"
      title="Facebook Profile"
      aria-label="Facebook Profile">
      <i class="fa-brands fa-facebook"></i>
    </a>
  </div>

    <p class="text-center mt-3">
    this
    <a class="text-decoration-none" href="https://github.com/Yutam38/Pocket__Park" target="_blank" aria-label="Open Source Link"
    >open-sourced </a> project was coded by the best team ever existed:
    </p>


    <div class="authors d-flex justify-content-center">
      <a
      href="https://github.com/Yutam38/Pocket__Park"
      target="_blank"
      title="GitHub Profile"
      aria-label="GitHub Profile - Darek">
      <i class="fa-brands fa-github"></i> Darek</a>

      <a
        href="https://github.com/Yutam38/Pocket__Park"
        target="_blank"
        title="GitHub Profile"
        aria-label="GitHub Profile - Oscar">
      <i class="fa-brands fa-github"></i> Oscar</a>

    <a
      href="https://github.com/Yutam38/Pocket__Park"
      target="_blank"
      title="GitHub Profile"
      aria-label="GitHub Profile - Tamari">
      <i class="fa-brands fa-github"></i> Tamari
      </a>

      <a
      href="https://github.com/Yutam38/Pocket__Park"
      target="_blank"
      title="GitHub Profile"
      aria-label="GitHub Profile - Yuta">
      <i class="fa-brands fa-github"></i> Yuta
    </a>

    </div>
</footer>
