<nav class="navbar bg-light sticky-top">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="/" title="HomePage">
      <img src="images/áƒ¤áƒáƒ¢áƒ.png" class="logo d-none d-md-block" alt="Pocket Park logo" />
      <img src="images/áƒ¤áƒáƒ¢áƒ-small.png" class="logo d-block d-md-none" alt="smaller logo" />
    </a>

    <ul class="d-flex list-unstyled mb-0">
      <li class="mx-3">
        <a class="text-decoration-none text-dark" href="/" title="Homepage">Parks</a>
      </li>
      <li class="mx-3">
        <a class="text-decoration-none text-dark" href="/about.html" title="favourited items">ðŸ’Ÿ</a>
      </li>
      <li class="mx-3">
        <a class="text-decoration-none text-dark" href="/login.html" title="Login page">Log In</a>
      </li>
      <li class="mx-3">
        <a class="text-decoration-none text-dark" href="/signup.html" title="Signup page">Sign Up</a>
      </li>
    </ul>

  </div>
</nav>
