<div class="container">

        <div class="row">


          <div class="col-lg-6 mt-5">

            <div class="content">

            <h1>Welcome to Pocket Park</h1>
              <p class="mb-4">
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა

                <br /><br />
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა
                ბლა ბლა ბლა ბლა ბლა ბლა ბლა<br /><br />
              </p>

              <div class="text-center">
                <a
                  class="btn btn-outline-secondary btn-lg"
                  href="/"
                  role="button"
                  title="explore Berlin's Parks"
                >
                  Explore Berlin's Parks</a
                >
              </div>

            </div>

          </div>

          <div class="col-lg-6 mt-5">
            <%= image_tag "Panorama_Berlin.jpg", class: "d-none d-md-block ", alt: "berlin park photo", width: "600px", hight: "700px"%>
          </div>


        </div>
      </div>
